<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="RLMConnStr" value="Server=.;Database={{dbName}};Integrated Security=True;" />
    <add key="RLMBackupLocation" value="C:\RLM\Backup" />
    <add key="RLMDataLocation" value="C:\RLM\Data" />
  </appSettings>
</configuration>