<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>

    <!--RLM Application Settings - you may uncomment the settings below and edit to suit your needs-->

    <!--values below are currently the default settings-->

    <!--<add key="RLMConnStr" value="Server=.;Database={{dbName}};Integrated Security=True;"/>-->
    <!--<add key="RLMBackupLocation" value="C:\RLM\Backup"/>-->
    <!--<add key="RLMDataLocation" value="C:\RLM\Data"/>-->
    <!--<add key="RLMDropDb" value="false"/>-->
    
  </appSettings>
</configuration>